In [1]:
import numpy as np

In [2]:
ar = np.arange(30)

In [3]:
ar2 = ar.reshape(3,10)

In [4]:
ar2.shape

(3, 10)

In [7]:
help(np.add)

Help on ufunc:

add = <ufunc 'add'>
    add(x1, x2, /, out=None, *, where=True, casting='same_kind', order='K', dtype=None, subok=True[, signature, extobj])

    Add arguments element-wise.

    Parameters
    ----------
    x1, x2 : array_like
        The arrays to be added.
        If ``x1.shape != x2.shape``, they must be broadcastable to a common
        shape (which becomes the shape of the output).
    out : ndarray, None, or tuple of ndarray and None, optional
        A location into which the result is stored. If provided, it must have
        a shape that the inputs broadcast to. If not provided or None,
        a freshly-allocated array is returned. A tuple (possible only as a
        keyword argument) must have length equal to the number of outputs.
    where : array_like, optional
        This condition is broadcast over the input. At locations where the
        condition is True, the `out` array will be set to the ufunc result.
        Elsewhere, the `out` array will retain its original value.
        Note that if an uninitialized `out` array is created via the default
        ``out=None``, locations within it where the condition is False will
        remain uninitialized.
    **kwargs
        For other keyword-only arguments, see the
        :ref:`ufunc docs <ufuncs.kwargs>`.

    Returns
    -------
    add : ndarray or scalar
        The sum of `x1` and `x2`, element-wise.
        This is a scalar if both `x1` and `x2` are scalars.

    Notes
    -----
    Equivalent to `x1` + `x2` in terms of array broadcasting.

    Examples
    --------
    >>> np.add(1.0, 4.0)
    5.0
    >>> x1 = np.arange(9.0).reshape((3, 3))
    >>> x2 = np.arange(3.0)
    >>> np.add(x1, x2)
    array([[  0.,   2.,   4.],
           [  3.,   5.,   7.],
           [  6.,   8.,  10.]])

    The ``+`` operator can be used as a shorthand for ``np.add`` on ndarrays.

    >>> x1 = np.arange(9.0).reshape((3, 3))
    >>> x2 = np.arange(3.0)
    >>> x1 + x2
    array([[ 0.,  2.,  4.],
           [ 3.,  5.,  7.],
           [ 6.,  8., 10.]])

In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame(ar2, columns=list("abcdefghij"))

In [10]:
df

    a   b   c   d   e   f   g   h   i   j
0   0   1   2   3   4   5   6   7   8   9
1  10  11  12  13  14  15  16  17  18  19
2  20  21  22  23  24  25  26  27  28  29

In [11]:
help(df.add)

Help on method add in module pandas.core.ops:

add(other, axis='columns', level=None, fill_value=None) method of pandas.core.frame.DataFrame instance
    Get Addition of dataframe and other, element-wise (binary operator `add`).

    Equivalent to ``dataframe + other``, but with support to substitute a fill_value
    for missing data in one of the inputs. With reverse version, `radd`.

    Among flexible wrappers (`add`, `sub`, `mul`, `div`, `mod`, `pow`) to
    arithmetic operators: `+`, `-`, `*`, `/`, `//`, `%`, `**`.

    Parameters
    ----------
    other : scalar, sequence, Series, dict or DataFrame
        Any single or multiple element data structure, or list-like object.
    axis : {0 or 'index', 1 or 'columns'}
        Whether to compare by the index (0 or 'index') or columns.
        (1 or 'columns'). For Series input, axis to match Series index on.
    level : int or label
        Broadcast across a level, matching Index values on the
        passed MultiIndex level.
    fill_value : float or None, default None
        Fill existing missing (NaN) values, and any new element needed for
        successful DataFrame alignment, with this value before computation.
        If data in both corresponding DataFrame locations is missing
        the result will be missing.

    Returns
    -------
    DataFrame
        Result of the arithmetic operation.

    See Also
    --------
    DataFrame.add : Add DataFrames.
    DataFrame.sub : Subtract DataFrames.
    DataFrame.mul : Multiply DataFrames.
    DataFrame.div : Divide DataFrames (float division).
    DataFrame.truediv : Divide DataFrames (float division).
    DataFrame.floordiv : Divide DataFrames (integer division).
    DataFrame.mod : Calculate modulo (remainder after division).
    DataFrame.pow : Calculate exponential power.

    Notes
    -----
    Mismatched indices will be unioned together.

    Examples
    --------
    >>> df = pd.DataFrame({'angles': [0, 3, 4],
    ...                    'degrees': [360, 180, 360]},
    ...                   index=['circle', 'triangle', 'rectangle'])
    >>> df
               angles  degrees
    circle          0      360
    triangle        3      180
    rectangle       4      360

    Add a scalar with operator version which return the same
    results.

    >>> df + 1
               angles  degrees
    circle          1      361
    triangle        4      181
    rectangle       5      361

    >>> df.add(1)
               angles  degrees
    circle          1      361
    triangle        4      181
    rectangle       5      361

    Divide by constant with reverse version.

    >>> df.div(10)
               angles  degrees
    circle        0.0     36.0
    triangle      0.3     18.0
    rectangle     0.4     36.0

    >>> df.rdiv(10)
                 angles   degrees
    circle          inf  0.027778
    triangle   3.333333  0.055556
    rectangle  2.500000  0.027778

    Subtract a list and Series by axis with operator version.

    >>> df - [1, 2]
               angles  degrees
    circle         -1      358
    triangle        2      178
    rectangle       3      358

    >>> df.sub([1, 2], axis='columns')
               angles  degrees
    circle         -1      358
    triangle        2      178
    rectangle       3      358

    >>> df.sub(pd.Series([1, 1, 1], index=['circle', 'triangle', 'rectangle']),
    ...        axis='index')
               angles  degrees
    circle         -1      359
    triangle        2      179
    rectangle       3      359

    Multiply a dictionary by axis.

    >>> df.mul({'angles': 0, 'degrees': 2})
                angles      degrees
    circle           0          720
    triangle             0      360
    rectangle            0      720

    >>> df.mul({'circle': 0, 'triangle': 2, 'rectangle': 3}, axis='index')
                angles      degrees
    circle               0        0
    triangle             6      360
    rectangle           12     1080

    Multiply a DataFrame of different shape with operator version.

    >>> other = pd.DataFrame({'angles': [0, 3, 4]},
    ...                      index=['circle', 'triangle', 'rectangle'])
    >>> other
               angles
    circle          0
    triangle        3
    rectangle       4

    >>> df * other
               angles  degrees
    circle          0      NaN
    triangle        9      NaN
    rectangle      16      NaN

    >>> df.mul(other, fill_value=0)
               angles  degrees
    circle          0      0.0
    triangle        9      0.0
    rectangle      16      0.0

    Divide by a MultiIndex by level.

    >>> df_multindex = pd.DataFrame({'angles': [0, 3, 4, 4, 5, 6],
    ...                              'degrees': [360, 180, 360, 360, 540, 720]},
    ...                             index=[['A', 'A', 'A', 'B', 'B', 'B'],
    ...                                    ['circle', 'triangle', 'rectangle',
    ...                                     'square', 'pentagon', 'hexagon']])
    >>> df_multindex
                 angles  degrees
    A circle          0      360
      triangle        3      180
      rectangle       4      360
    B square          4      360
      pentagon        5      540
      hexagon         6      720

    >>> df.div(df_multindex, level=1, fill_value=0)
                 angles  degrees
    A circle        NaN      1.0
      triangle      1.0      1.0
      rectangle     1.0      1.0
    B square        0.0      0.0
      pentagon      0.0      0.0
      hexagon       0.0      0.0

In [13]:
df

    a   b   c   d   e   f   g   h   i   j
0   0   1   2   3   4   5   6   7   8   9
1  10  11  12  13  14  15  16  17  18  19
2  20  21  22  23  24  25  26  27  28  29

In [12]:
df.add(df, axis='columns')

    a   b   c   d   e   f   g   h   i   j
0   0   2   4   6   8  10  12  14  16  18
1  20  22  24  26  28  30  32  34  36  38
2  40  42  44  46  48  50  52  54  56  58

In [14]:
df.add(df, axis='index')

    a   b   c   d   e   f   g   h   i   j
0   0   2   4   6   8  10  12  14  16  18
1  20  22  24  26  28  30  32  34  36  38
2  40  42  44  46  48  50  52  54  56  58

In [15]:
df = pd.DataFrame(
    {'name': ['KIM', 'LEE', 'SMITH','BROWN', 'MILLER'],
     'age': [24, 32, 43, 24, np.nan],
     'height': [178, 168, 171, 185, 176],
     'sex': ['M', 'F', 'F', 'M', 'F']})
df

     name   age  height sex
0     KIM  24.0     178   M
1     LEE  32.0     168   F
2   SMITH  43.0     171   F
3   BROWN  24.0     185   M
4  MILLER   NaN     176   F

In [16]:
df.drop([1,2], axis=0)

     name   age  height sex
0     KIM  24.0     178   M
3   BROWN  24.0     185   M
4  MILLER   NaN     176   F

In [19]:
help(df.mean)

Help on method mean in module pandas.core.generic:

mean(axis: 'int | None | lib.NoDefault' = <no_default>, skipna=True, level=None, numeric_only=None, **kwargs) method of pandas.core.frame.DataFrame instance
    Return the mean of the values over the requested axis.

    Parameters
    ----------
    axis : {index (0), columns (1)}
        Axis for the function to be applied on.
        For `Series` this parameter is unused and defaults to 0.
    skipna : bool, default True
        Exclude NA/null values when computing the result.
    level : int or level name, default None
        If the axis is a MultiIndex (hierarchical), count along a
        particular level, collapsing into a Series.

        .. deprecated:: 1.3.0
            The level keyword is deprecated. Use groupby instead.
    numeric_only : bool, default None
        Include only float, int, boolean columns. If None, will attempt to use
        everything, then use only numeric data. Not implemented for Series.

        .. deprecated:: 1.5.0
            Specifying ``numeric_only=None`` is deprecated. The default value will be
            ``False`` in a future version of pandas.

    **kwargs
        Additional keyword arguments to be passed to the function.

    Returns
    -------
    Series or DataFrame (if level specified)

In [20]:
df[['age', 'height']]

    age  height
0  24.0     178
1  32.0     168
2  43.0     171
3  24.0     185
4   NaN     176

In [17]:
df[['age', 'height']].mean(axis=0)

age        30.75
height    175.60
dtype: float64

In [18]:
df[['age', 'height']].mean(axis=1)

0    101.0
1    100.0
2    107.0
3    104.5
4    176.0
dtype: float64