## 1.  튜플 클래스 알아보기

## 1-1 튜플은 변경불가

In [19]:
import collections.abc as abc

In [20]:
issubclass(tuple, abc.Sequence)

True

## 1-2 튜플을 리스트에 만들기

In [2]:
# %load metro_lat_long.py
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),   # <1>
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

## 1-3 튜플로 언패킹 처리하기

### 정해진 개수 만큼 언패킹

In [7]:
name, cc, pop, (latitude, longitude) = metro_areas[0]

In [8]:
name, cc, pop, (latitude, longitude)

('Tokyo', 'JP', 36.933, (35.689722, 139.691667))

### 내포된 튜플 언패킹

In [3]:
print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))

                |   lat.    |   long.

In [4]:
fmt = '{:15} | {:9.4f} | {:9.4f}'

In [5]:
for name, cc, pop, (latitude, longitude) in metro_areas:  # <2>
    if longitude <= 0:  # <3>
        print(fmt.format(name, latitude, longitude))

Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

### 특정한 원소만 언패킹 처리

In [26]:
a,b,*c = (1,2,3,4,5)

In [27]:
a,b,c

(1, 2, [3, 4, 5])

### 리스트도 언패킹 가능

In [28]:
a1,b1,*c1 = [1,2,3,4,5]

In [29]:
a1,b1,c1

(1, 2, [3, 4, 5])

## 1-4 네임드 튜플로 변형해서 처리하기

In [9]:
from typing import NamedTuple

In [14]:
class Metro(NamedTuple):
    name : str
    cc : str
    pop : float
    latitude : float
    longitude : float

In [16]:
met_ar = [Metro(name, cc, pop, latitude, longitude) for name, cc, pop, (latitude, longitude) in metro_areas]

In [17]:
met_ar

[Metro(name='Tokyo', cc='JP', pop=36.933, latitude=35.689722, longitude=139.691667),
 Metro(name='Delhi NCR', cc='IN', pop=21.935, latitude=28.613889, longitude=77.208889),
 Metro(name='Mexico City', cc='MX', pop=20.142, latitude=19.433333, longitude=-99.133333),
 Metro(name='New York-Newark', cc='US', pop=20.104, latitude=40.808611, longitude=-74.020386),
 Metro(name='Sao Paulo', cc='BR', pop=19.649, latitude=-23.547778, longitude=-46.635833)]

## 1-5 튜플 내의 원소 변경

- 튜플내의 변경가능한 객체를 원소로 넣으면 갱신이 가능해짐
- 그래서 튜플이 완변한 변경불가는 아님 항상 주의해서 사용할 것

### 튜플 내에 리스트가 있을 경우 리스트는 변경가능

In [21]:
tl = tuple([1,2,3,[4,5]])

In [25]:
tl

(1, 2, 3, [999, 5])

### 리스트 원소 갱신

In [23]:
tl[3][0] = 999

In [24]:
tl

(1, 2, 3, [999, 5])